@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*main {}*/

footer {
  height: 100%;
  flex: 0 30px;
  float: left;
}

.navbar-brand {
  font-size: 7.5vw;
  color: rgb(18, 182, 133);
  text-align: center;
}

/*
#animated-header{
  animation-name: Title-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
*/

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes Title-in {
  from{
    font-size: 0vw;
  }
  95% {
    font-size: 8.5vw;
  }
  to {
    font-size: 7.5vw;
  }
}