@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header {
  flex: 0 80px;
}

main {
  flex: 1 calc(90vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 30px;
  float: left;
}

.navbar-brand {
  font-size: 7.5vw;
  color: rgb(18, 182, 133);
  text-align: center;
}

/*
#animated-header{
  animation-name: Title-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
*/

.inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
